.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}
/*for background wallpeper upload*/
.uploadboxBackgroundImg {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px dotted rgb(88, 202, 88);
}
.dropZoneOverlay2,
.FileUpload2 {
  margin-top: -40px;
  margin-left: 315px;
  width: 283px;
  height: 71px;
}
.dropZoneOverlay2 {
  color: #050505;
  position: absolute;
  top: 0px;
  text-align: center;
}
.FileUpload2 {
  opacity: 0;
  position: relative;
  z-index: 1;
}
/*for profile upload*/
.uploadboxProfileImg {
  height: 200px;
  width: 35%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.dropZoneOverlay1,
.FileUpload1 {
  margin-top: 150px;
  margin-left: 315px;
  width: 283px;
  height: 71px;
}
.dropZoneOverlay1 {
  color: #050505;
  position: absolute;
  top: 0px;
  text-align: center;
}
.FileUpload1 {
  opacity: 0;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1000px) {
  /*for background wallpeper upload*/
  .uploadboxBackgroundImg {
    height: 200px;
    width: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px dotted rgb(88, 202, 88);
  }
  .dropZoneOverlay2,
  .FileUpload2 {
    margin-top: 80px;
    margin-left: 25px;
    width: 283px;
    height: 71px;
  }
  .dropZoneOverlay2 {
    color: #050505;
    position: absolute;
    top: 0px;
    text-align: center;
  }
  .FileUpload2 {
    opacity: 0;
    position: relative;
    z-index: 1;
  }
  /*for profile upload*/
  .uploadboxProfileImg {
    margin-left: 3px;
    margin-bottom: 10px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
  .dropZoneOverlay1,
  .FileUpload1 {
    margin-top: 255px;
    margin-left: 30px;
    width: 283px;
    height: 71px;
  }
  .dropZoneOverlay1 {
    color: #050505;
    position: absolute;
    top: 0px;
    text-align: center;
  }
  .FileUpload1 {
    opacity: 0;
    position: relative;
    z-index: 1;
  }
}
